@import "../../utilities.scss";

.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  position: relative;
  background-color: $primary-color;
  width: 100vw;
 
}

@media (min-width: 768px){
  .section{
    padding: 5rem;
  }
}

