.textabout-h1{
  color: #fff;
  font-size: clamp(1.20rem, 2vw, 2rem);
  text-shadow: 1px 1px 5px black;
  font-family: 'Montagu Slab', serif;
}

.textabout-h2{
  padding-top: .3rem;
  color: rgba(255, 255, 255, 0.87);
  font-size: clamp(.9rem, 1.5vw, 1.3rem);
  font-family: roboto, sans-serif;
}
