.textabout-h1{
  color: #fff;
  font-size: clamp(1.50rem, 2.5vw, 3rem);
  text-shadow: 1px 1px 5px black;
  font-family: 'Montagu Slab', serif;
}

.textabout-h2{
  color: rgba(255, 255, 255, 0.801);
  font-size: clamp(.8rem, 1.7vw, 1.5rem);
  // text-shadow: 1px 1px 5px black;
}

// .textabout-div{
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
  
// }