@import "../../variables.scss";

.section-left-content {
  padding: 0 !important;
  margin: 0 !important;
  gap: 0;
  width: 100vw !important;
  background-color: #88E7DD;
  display: flex;
  justify-content: flex-start;
  position: relative;
  height: 100%;

  .col-left-left-content{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 450vh;
    width: 90vw;
    background-color: $primary-color;
    color: #fff;
    border-color: #494848;

    .content-left{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  .col-right-left-content{
    background-image: url('../../imgs/Projects.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

    height: 450vh;
    width: 0%;
    position: relative;
    
  }

  @media(max-width: 768px){
    .col-left-left-content{
      height: 330vh;

    }
  
    .col-right-left-content{

      height: 330vh;

    }
  }
  
  @media(min-width: 600px){

    .col-right-left-content{
      width: 50vw;
      transform: scale(1.02);
    }
    .col-left-left-content{
      width: 50vw;
      
    }
  
  }
}

