@import "../../utilities.scss";

.hero {
  height: 50vh;
  overflow: hidden;
  background-color:$primary-color;
  position: relative;
  overflow-x: hidden; 
  width: 100vw !important;
  max-width: 100vw;

}

.hero, .container-fluid{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.container-fluid{
  width: 100vw;
  .row-hero{
    width: 100%;
  }
}
.hero-text{
  width: 100%;
}

.hero-content{
  width: 100%;
}

.title-text{
  color: #fff;
  font-size: clamp(1.50rem, 2.5vw, 3rem);
  text-shadow: 1px 1px 5px black;
  position: relative;
  z-index: 2000;
  width: 100vw;
}

.perfil-img{
  display: none;
}


@media (min-width: 1024px){
  .title-text{
    color: #fff;
    font-size: clamp(1.50rem, 2.5vw, 3rem);
    text-shadow: 1px 1px 5px black;
    width: 100vw;
  }

  .perfil-img{
    display: block;
    height: 90%;
    position: absolute;
    // left: 5%;
    bottom: -20%;
    opacity: 1;
  }
}