.title-typing{
  color: #fff;
  font-size: clamp(1.30rem, 2vw, 2.5rem);
  text-shadow: 1px 1px 5px black;
  width: 100%;
  margin: 0 !important;
}

.title-typing::after{
  content: "|";
  margin-left: .6rem;
  animation: barraPiscando .8s steps(15)infinite normal;
}

@keyframes barraPiscando {
  0%, 100% {
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}