@import "../../utilities.scss";

.div-img{

  .portfolio-img{
    width:80%;
    margin: auto;
    border: 2px dotted gray;
    height: 25vh;
    position:relative;


      .img-project{
        position: relative;
        width: 100%;
        border: none;
        height: 25vh;
        box-shadow: .4rem .4rem .3rem #fff;
        cursor: pointer;

        &:active{
          transform: translate(0, 0);
          box-shadow: 0 0 0 #fff;
          filter: grayscale(0);
          transition: all .5s ease-in-out;
        }
      }
  }
}

@media(min-width: 768px){
  .div-img{

    .portfolio-img{
      width:60%;
      height: 40vh;
      
        .img-project{
          height: 40vh;
          position: relative;
          filter: grayscale(1);
          cursor: pointer;
          transform: translate(-10%, 10%);
          

          &:hover {
            transform: translate(0, 0);
            box-shadow: 0 0 0 #fff;
            filter: grayscale(0);
            transition: all .5s ease-in-out;
          }
        }
    }

    .portfolio-text {
      width: 50%;
      h3 {
        font-size: 1.3rem;
      }
    }
  }
}

.portfolio-text {
  position: relative;
  height: 3rem;
  width: 70%;
  margin: -2rem auto 0 auto;
  display: flex;
  align-items: center;
  @include bg-glass;

  h3 {
    width: calc(100% - 4rem);
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 0 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 0.1rem 0.1rem 0.1rem #121212;
  }
  
  .btn-card{
    @include bg-glass;
    border-radius: 1rem;
    border: .1rem solid rgba( 255, 255, 255, 0.18 );
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    padding: 0 0 2px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 100;
  }
}