/*******************************/
/******** Portfolio CSS ********/
/*******************************/

.portfolio-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .portfolio-wrap {
    position: relative;
    width: 90%;  
    height: 40vh;

    .portfolio-img {
      position: relative;
      overflow: hidden;
      border-radius: 1rem;
      height: 40vh;
    
      img {
        position: relative;
        width: 100%; 
        height: 100%; 
        // object-fit: cover;
        transform: scale(1.1);
        transition: .5s;
      }
    }

    .portfolio-text {
      position: relative;
      height: 3rem;
      width: 100%;
      margin: -2rem 1.5rem 0 0;
      display: flex;
      align-items: center;
      background: rgba( 255, 255, 255, 0.25 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
      border-radius: 1rem;
      border: 1px solid rgba( 255, 255, 255, 0.18 );

      h3 {
        width: calc(100% - 4rem);
        font-size: 1.3rem;
        font-weight: 600;
        margin: 0 0 0 1.5rem;
        white-space: nowrap;
        overflow: hidden;
      }
      
      .btn-card{
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 .8rem 3.2rem 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( .4rem );
        -webkit-backdrop-filter: blur( .4rem );
        border-radius: 1rem;
        border: .1rem solid rgba( 255, 255, 255, 0.18 );
        text-decoration: none;

        width: 3rem;
        height: 3rem;
        padding: 0 0 2px 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 100;
      }
    }
  }
}


.portfolio-item:active img {
  margin-left: 1.5rem;
}



// .portfolio-text a.btn-card {
//   width: 3rem;
//   height: 3rem;
//   padding: 0 0 2px 1px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 2rem;
//   font-weight: 100;
// }

.portfolio-item:active a.btn-card {
  color: #23efef;
  background: transparent;
  box-shadow: inset 0 0 0 0 #096981;
  border-color: #23efef;
}


@media (min-width: 1300px) {

  .portfolio-item {
    width: 100%;
  
    .portfolio-wrap {
      height: auto;
      .portfolio-img {
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        height: auto;
        img {
          position: relative;
          width: 100%; 
          height: 100%; 
          object-fit: cover;
          transform: scale(1.1);
          transition: .5s;
        }
      }
  
      .portfolio-text {
        position: relative;
        height: 3rem;
        width: 100%;
        margin: -2rem 1.5rem 0 0;
        display: flex;
        align-items: center;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 1rem;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
  
        h3 {
          width: calc(100% - 4rem);
          font-size: 1.3rem;
          font-weight: 600;
          margin: 0 0 0 1.5rem;
          white-space: nowrap;
          overflow: hidden;
        }
        
        .btn-card{
          background: rgba( 255, 255, 255, 0.25 );
          box-shadow: 0 .8rem 3.2rem 0 rgba( 31, 38, 135, 0.37 );
          backdrop-filter: blur( .4rem );
          -webkit-backdrop-filter: blur( .4rem );
          border-radius: 1rem;
          border: .1rem solid rgba( 255, 255, 255, 0.18 );
          text-decoration: none;
  
          width: 3rem;
          height: 3rem;
          padding: 0 0 2px 1px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          font-weight: 100;
        }
      }
    }
  }

  .portfolio-item:hover img {
    margin-left: 1.5rem;
  }
  
  

  
  // .portfolio-text a.btn-card {
  //   width: 3rem;
  //   height: 3rem;
  //   padding: 0 0 2px 1px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   font-size: 2rem;
  //   font-weight: 100;
  // }
  
  .portfolio-item:hover a.btn-card {
    color: #23efef;
    background: transparent;
    box-shadow: inset 0 0 0 0 #096981;
    border-color: #23efef;
  }
  
}

// @media (min-width: 2000px) {

//   .portfolio-item {
//     width: 100%;
  
// }
// }