@import "../../utilities.scss";


.technology{
  background-color: $primary-color;
  margin: auto;
  gap: 1rem;
  justify-content: center;
  width: 100%;

    h1{
      font-size: 2rem;
      color: #fff;
    }
}

@media (min-width: 768px){
  .technology{
    width: 60%;
    svg:hover{
      opacity: .5;
    }
  }
}

@media (min-width: 1440px){
  .technology{
    width: 40%;
  }
}