body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/*******************************/
/********* General CSS *********/
/*******************************/

a {
  color: #313131;
  transition: .3s;
}

a:hover,
a:active,
a:focus {
  color: #EF233C;
  outline: none;
  text-decoration: none;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;

}

.btn {
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ffffff;
  background: #EF233C;
  border: 2px solid transparent;
  border-radius: 0;
  box-shadow: inset 0 0 0 50px #EF233C;
  transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
}

.btn:hover {
  color: #EF233C;
  background: transparent;
  box-shadow: inset 0 0 0 0 #EF233C;
  border-color: #EF233C;
}
