@import "../../utilities.scss";

.col-left-right-content{
  @include parallax('imgs/Aboutme.png');
  height: 180vh;
  width: 0%;
  position: relative;
  z-index: -1;
  border-top: 2px solid #fff;
}

.col-right-right-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10rem;
  height: 180vh;
  width: 90vw;
  background-color: $primary-color;
  color: #fff;
  border-color: #494848;
  padding: 3rem;
  .content-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
}


@media(max-width: 600px){
  .section-right-content{
    background-color: #88E7DD;
    display: flex;
    justify-content: flex-end;
  }
}
@media(min-width: 600px){
  .section-right-content{
    width: 100vw;
    padding: 0 !important;
    margin: 0 !important;
    gap: 0;
    background-color: #88E7DD;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: -1;
    height: 100%;
  }
  .col-right-right-content{
    width: 50vw;
    padding: 0 5rem;
    
  }
  .col-left-right-content{
    width: 50vw;
    position: relative;
    z-index: -1;
    transform: scale(1.03);
  }
}

